<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Hello world!</h1>


	<div th:if="${session.loginUser ne null}">
		<span th:text="${session.loginUser.id }"></span>
		님 (로그인)
	</div>
	<input type="hidden" th:if="${session.loginUser ne null}"
		th:value="${session.loginUser.id}" id="userID" />
	<input type="hidden" th:unless="${session.loginUser ne null}" value="" id="userID" />

	<br>
	<hr>

	<!-- 메뉴바 -->
	<a href="/member/loginForm">로그인 하러 가실까요 ? </a>
	<br>
	<a href="/board/list">게시글 보러 가기 </a>
	<br>
	<a href="/member/memList"> 회원 리스트 </a>

	<hr>
	<div th:if="${session.loginUser ne null}">
		<span th:text="${session.loginUser.id}"></span>
		님 ! 안녕하세요!
		<input type="button" value="로그아웃" onclick="location.href='/member/logout'" />
	</div>


	<script>
		
	</script>
</body>
</html>